@model IEnumerable<WebsiteBanHang.Models.KhachHang>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>Mã KH</td>
            <td>Tên KH</td>
            <td>Địa chỉ</td>
            <td>Email</td>
            <td>SĐT</td>
        </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaKH</td>
                    <td>@item.TenKH</td>
                    <td>@item.DiaChi</td>
                    <td>@item.Email</td>
                    <td>@item.SoDienThoai</td>
                </tr>

            }

    </table>
</body>
</html>
